.bksass-arrow-scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  overflow: hidden;
  &-left_arrow, &-right_arrow {
    position: absolute;
    display: flex;
    align-items: center;
    width: 58px;
    height: 100%;
    background: linear-gradient(to left, var(--B2) 42.24%, transparent 95.69%);
    cursor: pointer;
    z-index: 11;
    svg {
      fill: var(--T8);
      box-sizing: border-box;
      color: var(--B0bdc0);
      cursor: pointer;
      font-size: 20px;
      height: 1em;
      margin: 0;
      min-width: 0;
      width: 1em;
    }
  }
  &-left_arrow {
    left: 0;
    background: linear-gradient(to right, var(--B2) 42.24%, transparent 95.69%);
    justify-content: flex-start;
  }
  &-right_arrow {
    right: 0;
    background: linear-gradient(to left, var(--B2) 42.24%, transparent 95.69%);
    justify-content: flex-end;
  }

  &-content {
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    &::-webkit-scrollbar {
      display: none;
      width: 0px;
      height: 0px;
    }
  }
}